* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.styleEditor {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.rain {
  position: absolute;
}
